/* HUB CSS */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('/Photos/logo.jpg');
}

nav {
  display: flex;
  background-color: rgb(221, 0, 105);
  justify-content: space-between;
}

nav img {
  max-height: 70px;
}

nav div {
  font: vag rounded, sans-serif;
  font-size: 60px;
}

nav a {
  color: black;
  font-size: 35px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: rgb(221, 0, 105);
}

footer a {
  color: black;
  align-self: center;
  padding: 10px;
}

.content {
  display: flex;
  color: white;
  justify-content: space-evenly;
  /* position: relative; */
  margin-top: 10%;
}

.box {
  display: flex;
  justify-content: center;
  background-color: rgb(221, 0, 105);
  max-width: 25%;
  border-radius: 15px;
  padding: 50px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box img {
  max-height: 150px;
  padding: 5%;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.box p {
  /* margin-top: 50px;
    margin-left: -60px; */
  font-size: 30px;
}

.box:nth-child(1):hover {
  transform: translate(0%, -20%) scale(1.05);
  box-shadow: 25px 50px 20px rgba(0, 0, 0, 0.459);
}

.box:nth-child(2):hover {
  transform: translate(0%, -20%) scale(1.05);
  box-shadow: 25px 50px 20px rgba(0, 0, 0, 0.459);
}

.box:nth-child(3):hover {
  transform: translate(0%, -20%) scale(1.05);
  box-shadow: 25px 50px 20px rgba(0, 0, 0, 0.459);
}

.box:nth-child(4):hover {
  transform: translate(0%, -20%) scale(1.05);
  box-shadow: 25px 50px 20px rgba(0, 0, 0, 0.459);
}

@media only screen and (max-width: 767px) {

  /* Hub aanpassingen voor telefoon */
  .content {
    flex-direction: column;
  }

  .box {
    max-width: 50%;
    align-self: center;
    margin-bottom: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 1023px) {

  /* Hub aanpassingen voor tablet */
  .content {
    flex-wrap: wrap;
  }
}

/* CSS KEVIN */

.boe {
  color: aqua;
  font-size: 250%;
  font-family: 'Franklin Gothic Medium',
    'Arial Narrow',
    Arial,
    sans-serif;
  text-align: center;
  border-radius: 10px;
  background-color: black;
}


.KEVINp {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.KEVINimg {
  width: 300px;
}

.KEVINbody {
  margin: 0;
  height: 100vh;
  background-color: aqua;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.me {
  width: 300px;
}

.bom {
  text-align: center;
}

.boom img {
  text-align: center;
}

/* CSS ALAN */

.section-alan {
  font-size: 18px;
  font-style: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(255, 162, 0);
  border: 1px;
  margin-right: 160px;
  margin-left: 160px;
  padding-bottom: 186px;
}

#alan {
  background-image: url(https://th.bing.com/th/id/R.831088dc5d1db491d0347eac38348fd9?rik=hm86u8jqjE3iWA&pid=ImgRaw&r=0);
  background-repeat: no-repeat;
  margin: 0;
  background-size: cover;
}

#main-alan {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
}

#main-alan>div {
  height: 277.56px;
  border: 1px solid rgb(255, 255, 255);
  width: 515.05px;
  text-align: center;
  background-image: url(https://scitechdaily.com/images/Black-Hole-Event-Horizon-Artistic-Illustration.jpg);
  object-fit: cover;
  background-size: 570px;
  background-repeat: no-repeat;
  margin-top: -278px;
}

#nav-alan {
  text-shadow: 25%;
  background-color: rgba(255, 255, 255, 0.304);
  border: 0.65px solid rgb(255, 255, 255);
  text-align: center;
}

#article-alan {
  text-align: center;
  color: aqua;
  background-color: rgba(0, 0, 0, 0.447);
  border: 0.65px solid rgb(255, 255, 255);
  margin-top: -29px;
}

.p-alan {
  font-size: 20px;
}

#h2-alan {
  font-size: 35px;
  text-align: center;
  color: aqua;
  -webkit-text-stroke: 0.8px;
  -webkit-text-stroke-color: rgb(76, 0, 255);
  background-color: rgba(0, 170, 255, 0.244);
  border: 0.65px solid rgb(255, 255, 255);
  margin-top: 0px;
  height: 40px;
}

#nav-alan>h3 {
  font-size: 28px;
}

#main-alan>.section-alan>h4 {
  text-align: center;
  font-size: 26px;
  color: aqua;
  background-color: rgba(0, 170, 255, 0.244);
  border: 0.65px solid rgb(255, 255, 255);
  margin-top: -1px;
  padding-right: 5vw;
  position: relative;
  right: 9.45vw;
}

#main-alan>.section-alan>h5 {
  font-size: 24px;
  text-align: left;
}

#footer-alan>img {
  margin-top: -393px;
  border: 0.65px solid rgb(255, 255, 255);
  justify-content: left;
  width: 429px;
  height: 418px;
}

/* MAX CSS */

.maxh3 .maxh2 .maxh1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.maxh1 {
  text-align: center;
  color: aliceblue;
  font-size: 60px;
  font: bolder;
}

.maxh3 {
  width: 150px;
  font-size: 131%;
}

.move-down {
  margin-top: 110px;
  font-size: xx-large;
  color: #f0f8ff;
}

.foto_max {
  width: 150px;
  border-radius: 10px;
}

li {
  color: #f0f8ff;
  font-weight: bold;
}

.maxbackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/Mensen/Max/R.jpg") center/cover no-repeat;
  filter: blur(8px);
  z-index: -1;
}

.vierkant {
  position: sticky;
  top: 0;
  z-index: 50;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  background: rgba(0, 102, 5, 0.92);
  padding: 12px 16px;
  border-radius: 24px 24px 24px 24px;
  margin-top: 0px;
  text-align: center;
}

#achtergrond2 {
  background-color: rgba(0, 102, 5, 0.5);
  width: 200px;
  height: 475px;
  border-radius: 15px;
  padding: 10px;
  color: white;
  position: relative;
  overflow: hidden;
  margin-top: 25px;
}

.inner-content {
  transform: translateY(0px);
  padding-top: 5px;
}

h2 {
  font-size: 150%;
}

.nav {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  background-color: rgba(133, 133, 133, 0.7);
  border-radius: 10px;
}

.home:link {
  border-radius: 10px;
  font-weight: bold;
  padding-left: 7px;
  padding-right: 5px;
  padding-bottom: 5px;
  background-color: rgb(0, 102, 5, 0.92);
  color: rgb(255, 255, 255);
  font-size: 20px;
  position: absolute;
  letter-spacing: 2px;
  text-decoration: none;
}

.home:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.home:hover {
  color: rgb(169, 169, 169);
  text-decoration: underline;
}

.home:active {
  color: rgb(69, 69, 69);
  text-decoration: underline;
}


.name {
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
  background-color: rgb(0, 102, 5, 0.5);
  border-radius: 20px;
}

#marginright {
  margin-right: 50px;
}

#marginleft {
  margin-left: 50px;
}

.linkstyle:link {
  color: rgb(255, 255, 255);
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
}

.linkstyle:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.linkstyle:hover {
  color: rgb(0, 102, 5, 0.5);
  text-decoration: underline;
}

.linkstyle:active {
  color: rgb(69, 69, 69, );
  text-decoration: underline;
}

.text_kleiner_maken {
  font-size: 90%;
  margin-left: 10px;
}

.contact {
  font-size: 125%;
}

.info {
  background-color: rgba(0, 102, 5, 0.5);
  height: 550px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: -27%;
  border-radius: 10px;
}

.white {
  color: white;
}

/* JASON CSS */

.jasonbody {
  font-family: Arial, sans-serif;
  background-color: rgb(203, 255, 209);
  background-image: url("/Mensen/Jason/Photos/vapor.png");
  background-size: cover;
  overflow: hidden;
}

.jasoncontent {
  background-color: rgba(203, 16, 157, 0.328);
  padding: 10px;
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.207);
  width: 70%;
  height: 500px;
  margin: 20px auto;
  font-size: 2vh;
  overflow-y: auto;
  overflow: hidden;
}

.profile-pic {
  height: 200px;
  margin: 20px auto;
  margin-left: 1.04vw;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.207);
}

.text {
  padding: 20px;
  width: 70%;
  height: 100%;
  margin: -250px auto;
  overflow-y: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
}

.linebreakbegone {
  margin-top: -20px;
}

.hamster-pic {
  height: 150px;
  margin: -150px auto;
  margin-left: -150px;
}