.section-alan {
    font-size: 18px;
    font-style: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 162, 0);
    border: 1px;
    margin-right: 160px;
    margin-left: 160px;
    padding-bottom: 186px;
}

#alan {
    background-image: url(https://th.bing.com/th/id/R.831088dc5d1db491d0347eac38348fd9?rik=hm86u8jqjE3iWA&pid=ImgRaw&r=0);
    background-repeat: no-repeat;
    margin: 0;
    background-size: cover;
}

#main-alan {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
}

#main-alan>div {
    height: 277.56px;
    border: 1px solid rgb(255, 255, 255);
    width: 515.05px;
    text-align: center;
    background-image: url(https://scitechdaily.com/images/Black-Hole-Event-Horizon-Artistic-Illustration.jpg);
    object-fit: cover;
    background-size: 570px;
    background-repeat: no-repeat;
    margin-top: -278px;
}

.navalan {
    text-shadow: 25%;
    background-color: rgba(255, 255, 255, 0.304);
    border: 0.65px solid rgb(255, 255, 255);
    text-align: center;
}

#article-alan {
    text-align: center;
    color: aqua;
    background-color: rgba(0, 0, 0, 0.447);
    border: 0.65px solid rgb(255, 255, 255);
    margin-top: -29px;
}

.p-alan {
    font-size: 20px;
}

#h2-alan {
    font-size: 35px;
    text-align: center;
    color: aqua;
    -webkit-text-stroke: 0.8px;
    -webkit-text-stroke-color: rgb(76, 0, 255);
    background-color: rgba(0, 170, 255, 0.244);
    border: 0.65px solid rgb(255, 255, 255);
    margin-top: 0px;
    height: 40px;
}

.navalan>h3 {
    font-size: 28px;
}

#main-alan>.section-alan>h4 {
    text-align: center;
    font-size: 26px;
    color: aqua;
    background-color: rgba(0, 170, 255, 0.244);
    border: 0.65px solid rgb(255, 255, 255);
    margin-top: -1px;
    padding-right: 5vw;
    position: relative;
    right: 9.45vw;
}

#main-alan>.section-alan>h5 {
    font-size: 24px;
    text-align: left;
}

#footer-alan>img {
    margin-top: -393px;
    border: 0.65px solid rgb(255, 255, 255);
    justify-content: left;
    width: 429px;
    height: 418px;
}